body {
    background-color: #202940;
    font-family: "Sekuya", system-ui;
    color: #9A8678;
    margin: 0;
    padding: 20px;
}

h1,
h2,
h3 {
    text-align: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    background-color: #4B4038;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    min-height: 450px;
    height:auto;
    width: 100%;
    max-width: 320px;
    border: 5px solid #202940;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    overflow-wrap:break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.card:hover {
    border-color: #CAAA98;
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    align-self: center;
}
.card--pj {
    min-height: 700px;
}
.card--tienda {
    height: 450px;
}
.btn-mostrar {
    display: inline-block;
    font-family: "Sekuya", system-ui;
    background-color: #CAAA98;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: #202940;
    transition: background-color 0.3s ease;
}

.btn-mostrar:hover {
    background-color: #e4caa4;
}

.layout-almacen {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

#items {
    width: 70%;
}

.panel-alforja {
    width: 25%;
    background-color: #4B4038;
    border: 2px solid #CAAA98;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    align-self: flex-start;
    position: sticky;
    top: 40px;
    z-index: 100;
}

.grid-combate {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2b354d;
    border-radius: 20px;
    border: 3px solid #CAAA98;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.card-combate {
    background-color: #4B4038;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 4px solid #202940;
    width: 100%;
    max-width: 260px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.card-combate:hover {
    border-color: #CAAA98;
    transform: scale(1.02);
}

.card-combate img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.footer-tarjetas{
    background-color: #202940;
    text-align: center;
    align-items: end;
    align-self: auto;
    align-self: flex-end;
}

.ocultar {
    display: none !important;
}
/* responsive - prueba de adaptacion a celulares */
@media (max-width: 768px) { 
    .layout-alamcen {
        flex-direction: column-reverse;
        align-items: center;
    }

    #items, .panel-alforja{
        width: 100%;
    }

    .panel-alforja {
        position: static;
        margin-bottom: 20px;
    }

    .grid-combate {
        flex-direction: column;
        align-items: center;
    }

    .card-combate {
        max-width: 320px;
    }

    body {
        padding: 10px;
    }
}